.home-container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: url("./images/home.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

//Desktop

@media(max-width:1090px){
    .home-container{
        background-position: left -100px top 0px;
        background-size: cover;
    }
}

//Tablet

@media(max-width:800px){
    .home-container{
        background-size: 100% 400px;
        background-position: left 0 top 0;
    }
}

// Phone

@media(max-width:630px){
    .home-container{
        background-size: 100% 350px;
        background-position: left 0 top 0;
    }
}

@media(max-width:540px){
    .home-container{
        background-size: 100% 300px;
        background-position: left 0 top 0;
    }
}

@media (max-width:460px) {
    .home-container{
        background-size: 100% 250px;
        background-position: left 0 top 0;
    }
}

@media (max-width:360px) {
    .home-container{
        background-size: 100% 200px;
        background-position: left 0 top 0;
    }
}
